**.gradle/
**.DS_Store
**build/
**node_modules/
**bin/
**.settings/
**rasa/
**.idea
interpreter/gradlew.bat
interpreter/gradlew
examples/auction_ag_jason/.project
examples/house-building/.project
docs/main.pdf
docs/main.typ
